body {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  main {
    width: 100%;
    height: 100%;
  }
  #category-head {
    display: none;
    padding: 15px 10px;
    width: calc(100% - 20px);
    .bar-title, .game-bar {
      width: 45%;
      max-width: 170px;
      margin: 0 auto 20px auto;
    }
    .game-bar {
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .game-svg-container {
      display: inline;
      position: relative;
      text-align: right;
      svg {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 40px;
        height: 40px;
      }
      .correct-amount, .incorrect-amount {
        display: inline;
        padding: 5px 15px 5px 40px;
        border-radius: 0 5px 5px 0;
      }
    }
  }
  #fixed-settings {
    margin: auto 0 3% 0;
    display: flex;
    align-items: center;
    .fixed-icon {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
  }
}