#homepage {
  .easy-mode:hover {
    background-color: lighten($color-theme1, 30);
  }
  .medium-mode:hover {
    background-image: linear-gradient(to right, $color-theme1, darken($color-theme2, 25));
  }
  .maniac-mode:hover {
    background-image: linear-gradient(to right, darken($color-theme4, 25), $color-theme1);
  }
}
#category-page {
  .next {
    transition: .5s;
  }
  .category:hover {
    .next {
      transform: scale(.7);
      margin-right: -10px!important;
      fill: $color-dark!important;
    }
  }
  .return, .return svg {
    transition: .5s;
  }
  .return:hover {
    transform: scale(.9);
    left: 10px;
    fill: darken($color-theme3, 15);
    color: darken($color-theme3, 15);
    svg {
      margin-right: 10px;
    }
  }
}
#game-page {
  .loader {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//scroll bar
/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $color-light;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-theme1;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color-theme1, 30);
}